.folder {
    position: relative;
    background-image: url("../../images/svg/folder.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    padding-top: 80%; 
    box-sizing: border-box;
  }
  
  .folder_content {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 20%);
    padding: 2rem 1rem;
    box-sizing: border-box;
  }
  