body{
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
}

:root{

--app-white :#fff;
--app-black : #000;


    --service-background-1 :  linear-gradient(
        269.83deg,
        #edf3ff 1.08%,
        rgba(237, 243, 255, 0) 77.56%
      );

      --service-background-2 : linear-gradient(
        89.83deg,
        #e8fbff 10.08%,
        rgba(232, 251, 255, 0) 75.33%
      );
}